## Project Overview
In this project, I scrape data from IMDb's top 1000 movies of all time list and create a dataset.

### Step 1: Get necessary libraries

In [1]:
# import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from time import sleep

### Step 2: Iterate and parse all pages 
The list contains 1000 movies with 10 pages containing 100 movies each.

In [2]:
# create an object containing the dynamic part of the link as you go from one page to another
links = np.arange(1, 1000, 100)
links

array([  1, 101, 201, 301, 401, 501, 601, 701, 801, 901])

In [3]:
# create empty variable list to save extracted data
movie_data = []

In [4]:
# iterate through each page
for link in links:
    # fetch html content from urls
    link = requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(link)+"&ref_=adv_nxt")
    # parse pulled html content
    soup = BeautifulSoup(link.content, 'html.parser')
    # create object to pull individual movie info
    movie_info = soup.find_all('div', class_ = 'lister-item mode-advanced')
    # add delay of 5 seconds
    sleep(5)
    # extract individual movie variables for all movies
    for movie in movie_info:
        # movie rank
        rank = movie.find('span', class_ = 'lister-item-index').text
        # movie title
        title = movie.find('h3', class_ = 'lister-item-header').a.text
        # release year
        year = movie.find('span', class_ = 'lister-item-year').text
        # run time
        time = movie.find('span', class_ = 'runtime').text
        # rating or leave empty if no value
        rate = movie.find('span', class_ = 'certificate').text if movie.find('span', class_ = 'certificate') else ''
        # star ratings
        stars = movie.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
        # metascore or leave empty if no value
        score = movie.find('span', class_ = 'metascore').text.replace(' ','') if movie.find('span', class_ = 'metascore') else ''  
        # votes and gross have the same tag; create variable containing both
        vote_gross = movie.find_all('span', attrs = {'name': 'nv'})
        # extract number of votes from vote_gross
        vote = vote_gross[0].text.strip()
        # extract gross revenue from vote_gross and leave empty if no value
        revenue = vote_gross[1].text if len(vote_gross) > 1 else ''

        # add all variables to empty list created earlier
        movie_data.append((rank, title, year, time, rate, stars, score, vote, revenue))

### Step 3: Create dataframe of extracted data

In [5]:
movie_df = pd.DataFrame(movie_data,
                 # add column names
                 columns = ['Rank',
                            'Movie Title',
                            'Year of Release',
                            'Run Time (minutes)',
                            'Rating',
                            'Star Rating',
                            'Metascore',
                            'Number of Votes',
                            'Gross Revenue in millions (USD)'
                           ])

# overview of the dataframe
movie_df.head(50)

,Rank,Movie Title,Year of Release,Run Time (minutes),Rating,Star Rating,Metascore,Number of Votes,Gross Revenue in millions (USD)
0,1.,The Shawshank Redemption,(1994),142 min,R,9.3,82,"2,796,722",$28.34M
1,2.,The Godfather,(1972),175 min,R,9.2,100,"1,948,395",$134.97M
2,3.,The Dark Knight,(2008),152 min,PG-13,9.0,84,"2,777,605",$534.86M
3,4.,Schindler's List,(1993),195 min,R,9.0,95,"1,406,133",$96.90M
4,5.,The Lord of the Rings: The Return of the King,(2003),201 min,PG-13,9.0,94,"1,915,094",$377.85M
5,6.,The Godfather Part II,(1974),202 min,R,9.0,90,"1,323,371",$57.30M
6,7.,12 Angry Men,(1957),96 min,Approved,9.0,97,"831,117",$4.36M
7,8.,Pulp Fiction,(1994),154 min,R,8.9,95,"2,145,290",$107.93M
8,9.,Inception,(2010),148 min,PG-13,8.8,74,"2,465,944",$292.58M
9,10.,The Lord of the Rings: The Fellowship of the Ring,(2001),178 min,PG-13,8.8,92,"1,943,254",$315.54M
10,11.,Fight Club,(1999),139 min,R,8.8,67,"2,230,612",$37.03M
11,12.,Forrest Gump,(1994),142 min,PG-13,8.8,82,"2,176,162",$330.25M
12,13.,"The Good, the Bad and the Ugly",(1966),178 min,Approved,8.8,90,"788,749",$6.10M
13,14.,The Lord of the Rings: The Two Towers,(2002),179 min,PG-13,8.8,87,"1,728,125",$342.55M
14,15.,Jai Bhim,(2021),164 min,TV-MA,8.8,,"210,145",#219
15,16.,777 Charlie,(2022),164 min,,8.8,,"36,555",
16,17.,Spider-Man: Across the Spider-Verse,(2023),140 min,PG,8.7,86,"255,835",#19
17,18.,Interstellar,(2014),169 min,PG-13,8.7,74,"1,985,550",$188.02M
18,19.,Goodfellas,(1990),145 min,R,8.7,92,"1,213,535",$46.84M
19,20.,The Matrix,(1999),136 min,R,8.7,73,"1,988,714",$171.48M
20,21.,One Flew Over the Cuckoo's Nest,(1975),133 min,R,8.7,84,"1,042,756",$112.00M
21,22.,Star Wars: Episode V - The Empire Strikes Back,(1980),124 min,PG,8.7,82,"1,340,779",$290.48M
22,23.,Rocketry: The Nambi Effect,(2022),157 min,Not Rated,8.7,,"55,248",
23,24.,Soorarai Pottru,(2020),153 min,TV-MA,8.7,,"120,752",
24,25.,Oppenheimer,(2023),180 min,R,8.6,88,"427,278",#41
25,26.,Se7en,(1995),127 min,R,8.6,65,"1,731,565",$100.13M
26,27.,The Silence of the Lambs,(1991),118 min,R,8.6,86,"1,492,170",$130.74M
27,28.,Saving Private Ryan,(1998),169 min,R,8.6,91,"1,448,536",$216.54M
28,29.,The Green Mile,(1999),189 min,R,8.6,61,"1,359,383",$136.80M
29,30.,Star Wars: Episode IV - A New Hope,(1977),121 min,PG,8.6,90,"1,412,533",$322.74M
30,31.,Terminator 2: Judgment Day,(1991),137 min,R,8.6,75,"1,140,805",$204.84M
31,32.,Spirited Away,(2001),125 min,PG,8.6,96,"808,672",$10.06M
32,33.,City of God,(2002),130 min,R,8.6,79,"780,966",$7.56M
33,34.,Life Is Beautiful,(1997),116 min,PG-13,8.6,59,"721,858",$57.60M
34,35.,It's a Wonderful Life,(1946),130 min,PG,8.6,89,"478,613",#21
35,36.,Seven Samurai,(1954),207 min,Not Rated,8.6,98,"357,689",$0.27M
36,37.,Harakiri,(1962),133 min,Not Rated,8.6,85,"63,570",#46
37,38.,Sita Ramam,(2022),163 min,,8.6,,"62,762",
38,39.,Gladiator,(2000),155 min,R,8.5,67,"1,561,296",$187.71M
39,40.,The Prestige,(2006),130 min,PG-13,8.5,66,"1,395,081",$53.09M
40,41.,Alien,(1979),117 min,R,8.5,89,"918,270",$78.90M
41,42.,Parasite,(2019),132 min,R,8.5,96,"886,179",$53.37M
42,43.,The Departed,(2006),151 min,R,8.5,85,"1,378,624",$132.38M
43,44.,Back to the Future,(1985),116 min,PG,8.5,87,"1,262,118",$210.61M
44,45.,Django Unchained,(2012),165 min,R,8.5,81,"1,633,083",$162.81M
45,46.,Whiplash,(2014),106 min,R,8.5,89,"930,534",$13.09M
46,47.,Léon: The Professional,(1994),110 min,R,8.5,64,"1,208,069",$19.50M
47,48.,American History X,(1998),119 min,R,8.5,62,"1,157,562",$6.72M
48,49.,The Lion King,(1994),88 min,G,8.5,88,"1,104,516",$422.78M
49,50.,The Usual Suspects,(1995),106 min,R,8.5,77,"1,117,985",$23.34M

### Step 4. Clean up dataset

In [6]:
# all columns are in the data type 'object' and no missing values 
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Rank                             1000 non-null   object
 1   Movie Title                      1000 non-null   object
 2   Year of Release                  1000 non-null   object
 3   Run Time (minutes)               1000 non-null   object
 4   Rating                           1000 non-null   object
 5   Star Rating                      1000 non-null   object
 6   Metascore                        1000 non-null   object
 7   Number of Votes                  1000 non-null   object
 8   Gross Revenue in millions (USD)  1000 non-null   object
dtypes: object(9)
memory usage: 70.4+ KB

In [7]:
# view descriptive statistics of all columns
movie_df.describe()

,Rank,Movie Title,Year of Release,Run Time (minutes),Rating,Star Rating,Metascore,Number of Votes,Gross Revenue in millions (USD)
count,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,1000,994,123,142,17,17,61,1000,736
top,1.,Beauty and the Beast,(2004),130 min,R,7.7,,"2,796,722",
freq,1,2,28,24,357,174,154,1,163

In [8]:
# skim rank column
movie_df['Rank'].unique()

array(['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.',
       '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.',
       '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.',
       '30.', '31.', '32.', '33.', '34.', '35.', '36.', '37.', '38.',
       '39.', '40.', '41.', '42.', '43.', '44.', '45.', '46.', '47.',
       '48.', '49.', '50.', '51.', '52.', '53.', '54.', '55.', '56.',
       '57.', '58.', '59.', '60.', '61.', '62.', '63.', '64.', '65.',
       '66.', '67.', '68.', '69.', '70.', '71.', '72.', '73.', '74.',
       '75.', '76.', '77.', '78.', '79.', '80.', '81.', '82.', '83.',
       '84.', '85.', '86.', '87.', '88.', '89.', '90.', '91.', '92.',
       '93.', '94.', '95.', '96.', '97.', '98.', '99.', '100.', '101.',
       '102.', '103.', '104.', '105.', '106.', '107.', '108.', '109.',
       '110.', '111.', '112.', '113.', '114.', '115.', '116.', '117.',
       '118.', '119.', '120.', '121.', '122.', '123.', '124.', '125.',
       '126.', '127.', '128.', '129.', '130.', '131.', '132.', '133.',
       '134.', '135.', '136.', '137.', '138.', '139.', '140.', '141.',
       '142.', '143.', '144.', '145.', '146.', '147.', '148.', '149.',
       '150.', '151.', '152.', '153.', '154.', '155.', '156.', '157.',
       '158.', '159.', '160.', '161.', '162.', '163.', '164.', '165.',
       '166.', '167.', '168.', '169.', '170.', '171.', '172.', '173.',
       '174.', '175.', '176.', '177.', '178.', '179.', '180.', '181.',
       '182.', '183.', '184.', '185.', '186.', '187.', '188.', '189.',
       '190.', '191.', '192.', '193.', '194.', '195.', '196.', '197.',
       '198.', '199.', '200.', '201.', '202.', '203.', '204.', '205.',
       '206.', '207.', '208.', '209.', '210.', '211.', '212.', '213.',
       '214.', '215.', '216.', '217.', '218.', '219.', '220.', '221.',
       '222.', '223.', '224.', '225.', '226.', '227.', '228.', '229.',
       '230.', '231.', '232.', '233.', '234.', '235.', '236.', '237.',
       '238.', '239.', '240.', '241.', '242.', '243.', '244.', '245.',
       '246.', '247.', '248.', '249.', '250.', '251.', '252.', '253.',
       '254.', '255.', '256.', '257.', '258.', '259.', '260.', '261.',
       '262.', '263.', '264.', '265.', '266.', '267.', '268.', '269.',
       '270.', '271.', '272.', '273.', '274.', '275.', '276.', '277.',
       '278.', '279.', '280.', '281.', '282.', '283.', '284.', '285.',
       '286.', '287.', '288.', '289.', '290.', '291.', '292.', '293.',
       '294.', '295.', '296.', '297.', '298.', '299.', '300.', '301.',
       '302.', '303.', '304.', '305.', '306.', '307.', '308.', '309.',
       '310.', '311.', '312.', '313.', '314.', '315.', '316.', '317.',
       '318.', '319.', '320.', '321.', '322.', '323.', '324.', '325.',
       '326.', '327.', '328.', '329.', '330.', '331.', '332.', '333.',
       '334.', '335.', '336.', '337.', '338.', '339.', '340.', '341.',
       '342.', '343.', '344.', '345.', '346.', '347.', '348.', '349.',
       '350.', '351.', '352.', '353.', '354.', '355.', '356.', '357.',
       '358.', '359.', '360.', '361.', '362.', '363.', '364.', '365.',
       '366.', '367.', '368.', '369.', '370.', '371.', '372.', '373.',
       '374.', '375.', '376.', '377.', '378.', '379.', '380.', '381.',
       '382.', '383.', '384.', '385.', '386.', '387.', '388.', '389.',
       '390.', '391.', '392.', '393.', '394.', '395.', '396.', '397.',
       '398.', '399.', '400.', '401.', '402.', '403.', '404.', '405.',
       '406.', '407.', '408.', '409.', '410.', '411.', '412.', '413.',
       '414.', '415.', '416.', '417.', '418.', '419.', '420.', '421.',
       '422.', '423.', '424.', '425.', '426.', '427.', '428.', '429.',
       '430.', '431.', '432.', '433.', '434.', '435.', '436.', '437.',
       '438.', '439.', '440.', '441.', '442.', '443.', '444.', '445.',
       '446.', '447.', '448.', '449.', '450.', '451.', '452.', '453.',
       '454.', '455.', '456.', '457.', '458.', '459.', '460.', '461.',
       '462.', '463.', '464.', '465.', '466.', '467.', '468.', '469.',
       '470.', '471.', '472.', '473.', '474.', '475.', '476.', '477.',
       '478.', '479.', '480.', '481.', '482.', '483.', '484.', '485.',
       '486.', '487.', '488.', '489.', '490.', '491.', '492.', '493.',
       '494.', '495.', '496.', '497.', '498.', '499.', '500.', '501.',
       '502.', '503.', '504.', '505.', '506.', '507.', '508.', '509.',
       '510.', '511.', '512.', '513.', '514.', '515.', '516.', '517.',
       '518.', '519.', '520.', '521.', '522.', '523.', '524.', '525.',
       '526.', '527.', '528.', '529.', '530.', '531.', '532.', '533.',
       '534.', '535.', '536.', '537.', '538.', '539.', '540.', '541.',
       '542.', '543.', '544.', '545.', '546.', '547.', '548.', '549.',
       '550.', '551.', '552.', '553.', '554.', '555.', '556.', '557.',
       '558.', '559.', '560.', '561.', '562.', '563.', '564.', '565.',
       '566.', '567.', '568.', '569.', '570.', '571.', '572.', '573.',
       '574.', '575.', '576.', '577.', '578.', '579.', '580.', '581.',
       '582.', '583.', '584.', '585.', '586.', '587.', '588.', '589.',
       '590.', '591.', '592.', '593.', '594.', '595.', '596.', '597.',
       '598.', '599.', '600.', '601.', '602.', '603.', '604.', '605.',
       '606.', '607.', '608.', '609.', '610.', '611.', '612.', '613.',
       '614.', '615.', '616.', '617.', '618.', '619.', '620.', '621.',
       '622.', '623.', '624.', '625.', '626.', '627.', '628.', '629.',
       '630.', '631.', '632.', '633.', '634.', '635.', '636.', '637.',
       '638.', '639.', '640.', '641.', '642.', '643.', '644.', '645.',
       '646.', '647.', '648.', '649.', '650.', '651.', '652.', '653.',
       '654.', '655.', '656.', '657.', '658.', '659.', '660.', '661.',
       '662.', '663.', '664.', '665.', '666.', '667.', '668.', '669.',
       '670.', '671.', '672.', '673.', '674.', '675.', '676.', '677.',
       '678.', '679.', '680.', '681.', '682.', '683.', '684.', '685.',
       '686.', '687.', '688.', '689.', '690.', '691.', '692.', '693.',
       '694.', '695.', '696.', '697.', '698.', '699.', '700.', '701.',
       '702.', '703.', '704.', '705.', '706.', '707.', '708.', '709.',
       '710.', '711.', '712.', '713.', '714.', '715.', '716.', '717.',
       '718.', '719.', '720.', '721.', '722.', '723.', '724.', '725.',
       '726.', '727.', '728.', '729.', '730.', '731.', '732.', '733.',
       '734.', '735.', '736.', '737.', '738.', '739.', '740.', '741.',
       '742.', '743.', '744.', '745.', '746.', '747.', '748.', '749.',
       '750.', '751.', '752.', '753.', '754.', '755.', '756.', '757.',
       '758.', '759.', '760.', '761.', '762.', '763.', '764.', '765.',
       '766.', '767.', '768.', '769.', '770.', '771.', '772.', '773.',
       '774.', '775.', '776.', '777.', '778.', '779.', '780.', '781.',
       '782.', '783.', '784.', '785.', '786.', '787.', '788.', '789.',
       '790.', '791.', '792.', '793.', '794.', '795.', '796.', '797.',
       '798.', '799.', '800.', '801.', '802.', '803.', '804.', '805.',
       '806.', '807.', '808.', '809.', '810.', '811.', '812.', '813.',
       '814.', '815.', '816.', '817.', '818.', '819.', '820.', '821.',
       '822.', '823.', '824.', '825.', '826.', '827.', '828.', '829.',
       '830.', '831.', '832.', '833.', '834.', '835.', '836.', '837.',
       '838.', '839.', '840.', '841.', '842.', '843.', '844.', '845.',
       '846.', '847.', '848.', '849.', '850.', '851.', '852.', '853.',
       '854.', '855.', '856.', '857.', '858.', '859.', '860.', '861.',
       '862.', '863.', '864.', '865.', '866.', '867.', '868.', '869.',
       '870.', '871.', '872.', '873.', '874.', '875.', '876.', '877.',
       '878.', '879.', '880.', '881.', '882.', '883.', '884.', '885.',
       '886.', '887.', '888.', '889.', '890.', '891.', '892.', '893.',
       '894.', '895.', '896.', '897.', '898.', '899.', '900.', '901.',
       '902.', '903.', '904.', '905.', '906.', '907.', '908.', '909.',
       '910.', '911.', '912.', '913.', '914.', '915.', '916.', '917.',
       '918.', '919.', '920.', '921.', '922.', '923.', '924.', '925.',
       '926.', '927.', '928.', '929.', '930.', '931.', '932.', '933.',
       '934.', '935.', '936.', '937.', '938.', '939.', '940.', '941.',
       '942.', '943.', '944.', '945.', '946.', '947.', '948.', '949.',
       '950.', '951.', '952.', '953.', '954.', '955.', '956.', '957.',
       '958.', '959.', '960.', '961.', '962.', '963.', '964.', '965.',
       '966.', '967.', '968.', '969.', '970.', '971.', '972.', '973.',
       '974.', '975.', '976.', '977.', '978.', '979.', '980.', '981.',
       '982.', '983.', '984.', '985.', '986.', '987.', '988.', '989.',
       '990.', '991.', '992.', '993.', '994.', '995.', '996.', '997.',
       '998.', '999.', '1,000.'], dtype=object)

In [9]:
# remove period after rank number and convert column to integer
movie_df['Rank'] = movie_df["Rank"].str.extract('(\d+)', expand = False).astype('int')
# view first 5 rows
movie_df['Rank'][:5]

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [10]:
# skim year of release column
movie_df['Year of Release'].unique()

array(['(1994)', '(1972)', '(2008)', '(1993)', '(2003)', '(1974)',
       '(1957)', '(2010)', '(2001)', '(1999)', '(1966)', '(2002)',
       '(2021)', '(2022)', '(2023)', '(2014)', '(1990)', '(1975)',
       '(1980)', '(2020)', '(1995)', '(1991)', '(1998)', '(1977)',
       '(1997)', '(1946)', '(1954)', '(1962)', '(2000)', '(2006)',
       '(1979)', '(2019)', '(1985)', '(2012)', '(1960)', '(1942)',
       '(2011)', '(1988)', '(1968)', '(1936)', '(1931)', '(II) (2018)',
       '(I) (2019)', '(1981)', '(2018)', '(1984)', '(1986)', '(I) (2017)',
       '(2016)', '(2009)', '(1964)', '(1950)', '(1940)', '(1963)',
       '(2004)', '(1983)', '(1971)', '(1987)', '(1992)', '(1941)',
       '(1958)', '(1952)', '(1927)', '(1959)', '(1973)', '(1944)',
       '(1961)', '(2007)', '(1948)', '(2017)', '(2013)', '(2005)',
       '(1976)', '(1989)', '(1982)', '(1939)', '(I) (2020)', '(1965)',
       '(1953)', '(1969)', '(1947)', '(2015)', '(1955)', '(1921)',
       '(1924)', '(1978)', '(1996)', '(I) (2015)', '(I) (2013)', '(1949)',
       '(1967)', '(1934)', '(1930)', '(1926)', '(1928)', '(1951)',
       '(1925)', '(1937)', '(III) (2016)', '(I) (2014)', '(1920)',
       '(I) (2004)', '(1945)', '(II) (2016)', '(1922)', '(1956)',
       '(I) (2011)', '(1933)', '(1970)', '(1938)', '(I) (2001)',
       '(I) (2008)', '(I) (2022)', '(I) (2006)', '(I) (2010)',
       '(I) (2007)', '(1932)', '(1943)', '(1935)', '(II) (2022)',
       '(I) (1995)', '(I) (1985)', '(III) (2018)'], dtype=object)

In [11]:
# extract the year in numbers and convert to data type integer
movie_df['Year of Release'] = movie_df['Year of Release'].str.extract('(\d+)', expand = False).astype('int')
# view first 5 rows
movie_df['Year of Release'][:5]

0    1994
1    1972
2    2008
3    1993
4    2003
Name: Year of Release, dtype: int64

In [12]:
# skim run time column
movie_df['Run Time (minutes)'].unique()

array(['142 min', '175 min', '152 min', '195 min', '201 min', '202 min',
       '96 min', '154 min', '148 min', '178 min', '139 min', '179 min',
       '164 min', '140 min', '169 min', '145 min', '136 min', '133 min',
       '124 min', '157 min', '153 min', '180 min', '127 min', '118 min',
       '189 min', '121 min', '137 min', '125 min', '130 min', '116 min',
       '207 min', '163 min', '155 min', '117 min', '132 min', '151 min',
       '165 min', '106 min', '110 min', '119 min', '88 min', '150 min',
       '109 min', '102 min', '112 min', '89 min', '87 min', '158 min',
       '122 min', '115 min', '120 min', '160 min', '181 min', '113 min',
       '146 min', '147 min', '149 min', '105 min', '98 min', '170 min',
       '95 min', '126 min', '143 min', '141 min', '108 min', '99 min',
       '81 min', '229 min', '131 min', '103 min', '134 min', '218 min',
       '128 min', '129 min', '123 min', '107 min', '161 min', '168 min',
       '135 min', '114 min', '138 min', '111 min', '100 min', '238 min',
       '156 min', '97 min', '91 min', '162 min', '172 min', '104 min',
       '321 min', '68 min', '167 min', '45 min', '186 min', '183 min',
       '101 min', '93 min', '92 min', '80 min', '86 min', '185 min',
       '212 min', '83 min', '171 min', '188 min', '205 min', '173 min',
       '177 min', '224 min', '196 min', '78 min', '94 min', '174 min',
       '72 min', '144 min', '90 min', '84 min', '191 min', '85 min',
       '67 min', '159 min', '184 min', '194 min', '242 min', '76 min',
       '82 min', '197 min', '220 min', '66 min', '176 min', '209 min',
       '187 min', '70 min', '166 min', '193 min', '64 min', '75 min',
       '69 min', '192 min', '79 min', '71 min'], dtype=object)

In [13]:
# extract only the number in run time and convert to data type integer
movie_df['Run Time (minutes)'] = movie_df['Run Time (minutes)'].str.extract('(\d+)', expand = False).astype('int')
# view first 5 rows
movie_df['Run Time (minutes)'][:5]

0    142
1    175
2    152
3    195
4    201
Name: Run Time (minutes), dtype: int64

In [14]:
# explore rating column
movie_df['Rating'].unique()

array(['R', 'PG-13', 'Approved', 'TV-MA', '', 'PG', 'Not Rated', 'G',
       'Passed', '18+', 'TV-14', '16+', 'M/PG', 'GP', 'TV-PG', 'Unrated',
       'NC-17'], dtype=object)

In [15]:
# convert empty cells to null and convert column to data type string
movie_df['Rating'] = movie_df['Rating'].replace('', np.nan).astype('string')
# view first 5 rows
movie_df['Rating'][:5]

0        R
1        R
2    PG-13
3        R
4    PG-13
Name: Rating, dtype: string

In [16]:
# explore star rating column
movie_df['Star Rating'].unique()

array(['9.3', '9.2', '9.0', '8.9', '8.8', '8.7', '8.6', '8.5', '8.4',
       '8.3', '8.2', '8.1', '8.0', '7.9', '7.8', '7.7', '7.6'],
      dtype=object)

In [17]:
# convert empty cells to null and convert column to data type float
movie_df['Star Rating'] = movie_df['Star Rating'].replace('', np.nan).astype('float')
# view first 5 rows
movie_df['Star Rating'][:5]

0    9.3
1    9.2
2    9.0
3    9.0
4    9.0
Name: Star Rating, dtype: float64

In [18]:
# explore metascore column
movie_df['Metascore'].unique()

array(['82', '100', '84', '95', '94', '90', '97', '74', '92', '67', '87',
       '', '86', '73', '88', '65', '91', '61', '75', '96', '79', '59',
       '89', '98', '85', '66', '81', '64', '62', '77', '57', '80', '99',
       '78', '83', '68', '76', '69', '71', '70', '58', '60', '63', '93',
       '55', '72', '47', '33', '54', '49', '50', '53', '51', '48', '56',
       '44', '45', '52', '46', '30', '28'], dtype=object)

In [19]:
# replace empty cells with null and convert column to data type integer
movie_df['Metascore'] = movie_df['Metascore'].replace('', np.nan).astype('Int64')
# view first 5 rows
movie_df['Metascore'][:5]

0     82
1    100
2     84
3     95
4     94
Name: Metascore, dtype: Int64

In [20]:
# explore number of votes column
movie_df['Number of Votes'].unique()

array(['2,796,722', '1,948,395', '2,777,605', '1,406,133', '1,915,094',
       '1,323,371', '831,117', '2,145,290', '2,465,944', '1,943,254',
       '2,230,612', '2,176,162', '788,749', '1,728,125', '210,145',
       '36,555', '255,835', '1,985,550', '1,213,535', '1,988,714',
       '1,042,756', '1,340,779', '55,248', '120,752', '427,278',
       '1,731,565', '1,492,170', '1,448,536', '1,359,383', '1,412,533',
       '1,140,805', '808,672', '780,966', '721,858', '478,613', '357,689',
       '63,570', '62,762', '1,561,296', '1,395,081', '918,270', '886,179',
       '1,378,624', '1,262,118', '1,633,083', '930,534', '1,208,069',
       '1,157,562', '1,104,516', '1,117,985', '876,556', '697,916',
       '591,393', '897,030', '295,154', '341,390', '508,558', '273,487',
       '252,235', '191,198', '34,040', '1,774,568', '1,398,907',
       '1,012,322', '609,853', '628,419', '416,399', '1,212,870',
       '742,534', '1,286,007', '1,068,309', '691,367', '1,153,900',
       '89,719', '553,332', '298,356', '1,162,920', '401,057', '417,786',
       '506,358', '98,856', '258,613', '230,206', '132,264', '205,829',
       '231,746', '49,587', '37,582', '45,131', '31,952', '39,613',
       '628,889', '1,523,005', '692,120', '1,185,295', '874,131',
       '697,452', '1,021,921', '1,067,671', '349,136', '1,045,599',
       '883,656', '859,132', '769,519', '1,058,514', '1,036,327',
       '366,362', '777,680', '105,728', '1,089,174', '1,092,499',
       '188,801', '868,847', '415,176', '305,429', '189,903', '455,874',
       '416,229', '252,970', '180,633', '325,977', '338,498', '66,296',
       '272,679', '164,058', '252,624', '83,846', '163,105', '81,609',
       '201,335', '201,401', '170,184', '142,478', '59,701', '97,989',
       '42,359', '126,399', '48,103', '43,030', '1,505,614', '1,033,498',
       '1,533,052', '1,021,652', '829,700', '884,094', '1,393,848',
       '617,960', '791,061', '1,144,587', '1,157,800', '446,826',
       '885,664', '534,294', '544,697', '1,153,451', '640,812', '276,644',
       '423,395', '1,023,584', '911,897', '962,254', '1,082,558',
       '426,049', '600,778', '339,603', '688,214', '326,374', '366,628',
       '176,744', '216,894', '557,984', '131,721', '252,616', '251,635',
       '266,879', '55,001', '67,727', '183,488', '135,712', '175,332',
       '40,062', '100,680', '171,345', '64,314', '127,777', '30,478',
       '129,615', '90,486', '52,995', '82,970', '94,918', '98,812',
       '78,143', '40,794', '36,191', '131,329', '93,651', '48,735',
       '109,142', '53,995', '32,443', '89,552', '69,018', '27,284',
       '26,615', '70,602', '37,331', '351,526', '566,098', '430,951',
       '768,868', '425,847', '1,172,972', '1,028,381', '639,019',
       '1,047,377', '916,381', '856,931', '899,246', '799,750', '435,711',
       '1,046,762', '702,290', '837,721', '162,293', '327,149', '786,603',
       '479,163', '488,959', '521,152', '609,041', '416,255', '642,500',
       '202,580', '535,515', '709,009', '498,815', '752,832', '428,256',
       '802,951', '80,026', '948,373', '248,976', '437,958', '160,082',
       '487,204', '774,717', '102,304', '602,092', '724,402', '186,804',
       '278,928', '368,699', '797,886', '361,046', '176,821', '707,040',
       '215,611', '113,036', '140,293', '209,152', '177,574', '165,587',
       '247,783', '184,479', '248,097', '228,323', '182,388', '300,400',
       '93,539', '126,424', '192,895', '97,546', '160,577', '142,829',
       '365,419', '108,880', '65,626', '62,732', '60,382', '50,686',
       '68,286', '91,242', '195,523', '124,176', '182,943', '66,143',
       '107,539', '37,540', '31,565', '93,667', '111,782', '27,413',
       '66,008', '63,547', '55,798', '27,022', '60,091', '49,608',
       '118,102', '118,934', '31,899', '53,879', '67,992', '30,801',
       '95,441', '41,043', '52,837', '58,453', '47,696', '74,464',
       '36,542', '84,818', '34,762', '80,820', '54,476', '29,828',
       '38,090', '85,722', '64,518', '115,593', '50,920', '34,381',
       '121,146', '70,489', '26,923', '32,013', '38,058', '46,262',
       '36,975', '36,008', '46,961', '47,949', '57,663', '83,023',
       '35,678', '71,274', '26,433', '35,242', '67,473', '26,726',
       '35,624', '34,724', '714,381', '622,775', '783,870', '799,325',
       '1,242,948', '633,317', '440,433', '829,317', '571,231', '893,726',
       '646,722', '526,279', '1,087,114', '66,241', '802,115',
       '1,432,277', '843,123', '152,485', '778,017', '678,573', '281,366',
       '87,546', '447,670', '164,701', '226,877', '784,153', '356,356',
       '283,181', '661,559', '634,796', '533,354', '322,386', '316,887',
       '267,485', '451,448', '469,774', '165,028', '187,544', '245,140',
       '186,199', '541,590', '90,505', '697,002', '154,880', '864,785',
       '197,362', '108,619', '648,995', '272,652', '85,063', '222,797',
       '96,945', '50,799', '414,073', '122,485', '135,588', '230,342',
       '144,195', '94,017', '59,677', '95,681', '174,922', '46,097',
       '37,177', '176,532', '194,027', '163,704', '60,085', '94,577',
       '83,760', '69,283', '237,446', '128,796', '76,343', '108,068',
       '78,304', '50,167', '36,423', '67,606', '54,648', '107,757',
       '45,828', '39,606', '50,995', '67,528', '61,499', '49,682',
       '107,775', '109,390', '83,984', '131,937', '42,673', '57,524',
       '29,995', '74,206', '98,046', '34,494', '85,396', '49,235',
       '36,676', '38,844', '55,483', '38,702', '35,962', '35,377',
       '65,404', '26,241', '34,616', '35,971', '53,975', '40,022',
       '56,517', '85,351', '28,085', '65,246', '41,315', '40,612',
       '54,523', '64,768', '26,319', '48,589', '34,640', '37,983',
       '57,960', '313,351', '137,423', '735,352', '1,245,982', '517,051',
       '208,337', '739,970', '286,841', '423,589', '356,492', '712,336',
       '1,360,242', '666,370', '372,378', '236,250', '275,707', '614,016',
       '1,097,203', '567,539', '710,388', '534,204', '420,727', '791,298',
       '255,794', '426,040', '88,729', '578,626', '472,897', '450,277',
       '509,102', '702,071', '506,907', '173,037', '331,879', '167,273',
       '144,071', '731,906', '138,261', '139,991', '80,939', '207,144',
       '652,392', '362,577', '604,080', '102,073', '75,031', '226,406',
       '227,056', '222,826', '151,075', '277,489', '315,186', '75,730',
       '88,451', '33,102', '82,490', '80,257', '112,194', '122,296',
       '161,682', '98,364', '94,414', '104,823', '128,660', '74,367',
       '246,048', '80,276', '82,379', '73,391', '114,138', '78,013',
       '90,314', '185,473', '53,028', '88,839', '107,510', '149,625',
       '35,980', '106,013', '33,120', '27,846', '103,803', '72,189',
       '49,657', '30,076', '33,827', '56,408', '57,086', '115,738',
       '52,168', '28,605', '112,270', '57,250', '53,345', '32,619',
       '72,852', '31,676', '27,753', '37,240', '28,113', '25,471',
       '28,078', '29,031', '55,871', '27,123', '45,645', '62,345',
       '48,198', '26,992', '51,521', '34,652', '42,099', '60,111',
       '39,119', '55,470', '27,625', '46,673', '26,689', '31,686',
       '56,482', '27,856', '27,481', '30,513', '33,759', '34,919',
       '36,540', '27,702', '58,157', '59,209', '729,027', '272,377',
       '461,463', '477,713', '159,395', '316,411', '597,919', '655,587',
       '375,746', '154,065', '680,730', '370,137', '431,490', '228,175',
       '710,931', '296,926', '422,845', '666,708', '412,659', '735,179',
       '441,745', '156,469', '221,276', '635,844', '323,447', '85,573',
       '225,663', '371,368', '852,518', '619,557', '76,647', '523,674',
       '213,530', '480,748', '620,557', '440,720', '956,096', '291,749',
       '245,562', '582,027', '153,130', '503,553', '299,665', '98,848',
       '677,320', '564,506', '80,325', '716,680', '27,827', '309,039',
       '148,926', '458,160', '322,877', '825,769', '686,836', '228,603',
       '225,138', '180,591', '140,145', '480,516', '361,268', '485,354',
       '556,911', '878,784', '134,744', '116,637', '43,355', '260,153',
       '115,048', '176,663', '369,838', '381,245', '212,296', '112,478',
       '182,985', '194,890', '46,245', '302,066', '220,728', '261,726',
       '137,073', '140,822', '63,521', '152,552', '87,278', '28,177',
       '105,975', '155,777', '125,386', '124,974', '95,629', '117,424',
       '32,143', '93,873', '353,149', '181,113', '52,092', '151,163',
       '77,704', '144,238', '77,834', '63,987', '99,285', '57,778',
       '37,076', '60,925', '33,962', '60,012', '167,596', '47,804',
       '70,329', '84,424', '119,545', '48,823', '68,556', '57,876',
       '60,315', '57,046', '68,372', '51,123', '69,965', '61,403',
       '74,229', '47,712', '29,945', '33,166', '100,646', '54,663',
       '76,167', '51,349', '39,419', '50,959', '44,110', '61,569',
       '59,844', '47,659', '100,828', '50,046', '62,901', '64,566',
       '32,072', '28,879', '65,383', '59,202', '31,749', '44,017',
       '30,470', '48,551', '26,987', '38,161', '27,783', '27,067',
       '45,376', '61,803', '33,998', '55,586', '34,021', '37,957',
       '32,583', '44,700', '31,082', '177,055', '289,361', '225,550',
       '377,762', '267,606', '473,841', '74,046', '657,317', '820,387',
       '600,797', '454,264', '457,223', '696,380', '250,640', '574,436',
       '364,021', '577,537', '116,231', '292,765', '539,694', '159,122',
       '232,145', '440,168', '241,335', '728,589', '412,834', '252,543',
       '612,161', '568,836', '180,634', '415,284', '126,867', '180,585',
       '113,239', '266,546', '209,255', '477,453', '372,243', '247,534',
       '652,106', '237,955', '79,324', '278,309', '77,077', '321,920',
       '147,081', '245,626', '144,886', '377,594', '121,844', '324,452',
       '94,666', '112,424', '210,932', '268,574', '711,164', '847,641',
       '323,425', '629,513', '392,148', '126,782', '477,981', '310,902',
       '444,537', '307,246', '252,013', '444,532', '65,441', '164,247',
       '492,316', '131,471', '315,584', '130,641', '278,570', '42,241',
       '141,559', '92,088', '47,257', '470,156', '99,642', '234,948',
       '72,906', '187,448', '176,395', '130,459', '117,774', '146,818',
       '92,823', '126,237', '90,728', '197,777', '346,951', '228,883',
       '198,909', '165,656', '99,342', '94,162', '321,157', '154,043',
       '76,356', '95,236', '139,691', '135,888', '41,689', '55,111',
       '139,372', '211,387', '108,485', '39,246', '68,939', '101,106',
       '84,945', '203,711', '44,099', '79,054', '209,977', '57,993',
       '96,472', '72,858', '40,992', '46,534', '135,525', '85,726',
       '66,003', '71,875', '35,073', '110,925', '42,481', '28,061',
       '69,081', '121,028', '63,948', '52,926', '82,279', '34,292',
       '29,036', '28,018', '32,469', '103,570', '41,449', '51,490',
       '44,927', '64,993', '55,497', '52,741', '26,595', '150,319',
       '25,989', '32,589', '36,286', '29,423', '43,083', '30,730',
       '53,611', '36,813', '63,251', '54,035', '41,020', '53,058',
       '40,599', '56,151', '95,333', '32,902', '32,177', '69,189',
       '43,904', '39,982', '36,088', '43,450', '27,443', '43,368',
       '64,767', '50,156', '32,977', '823,805', '799,501', '675,843',
       '443,620', '611,482', '279,575', '569,317', '845,648', '491,769',
       '279,761', '193,286', '734,875', '822,784', '581,598', '271,863',
       '618,292', '448,572', '498,024', '381,543', '405,062', '260,588',
       '508,741', '242,621', '304,922', '456,631', '571,300', '351,296',
       '350,653', '254,224', '406,253', '195,240', '198,797', '135,280',
       '568,188', '194,423', '306,123', '209,634', '282,977', '269,580',
       '224,164', '188,505', '120,318', '95,759', '212,564', '193,790',
       '160,807', '76,070', '95,506', '193,021', '338,446', '399,450',
       '154,499', '175,574', '109,273', '192,531', '68,393', '242,636',
       '153,298', '86,226', '49,508', '126,490', '182,668', '33,562',
       '38,074', '102,591', '75,171', '67,479', '55,756', '69,658'],
      dtype=object)

In [21]:
# remove commas from column and convert to type integer
movie_df['Number of Votes'] = movie_df['Number of Votes'].str.replace(',', '').astype('int')
# view first 5 rows
movie_df['Number of Votes'][:5]

0    2796722
1    1948395
2    2777605
3    1406133
4    1915094
Name: Number of Votes, dtype: int64

In [22]:
# explore gross column
movie_df['Gross Revenue in millions (USD)'].unique()

array(['$28.34M', '$134.97M', '$534.86M', '$96.90M', '$377.85M',
       '$57.30M', '$4.36M', '$107.93M', '$292.58M', '$315.54M', '$37.03M',
       '$330.25M', '$6.10M', '$342.55M', '#219', '', '#19', '$188.02M',
       '$46.84M', '$171.48M', '$112.00M', '$290.48M', '#41', '$100.13M',
       '$130.74M', '$216.54M', '$136.80M', '$322.74M', '$204.84M',
       '$10.06M', '$7.56M', '$57.60M', '#21', '$0.27M', '#46', '$187.71M',
       '$53.09M', '$78.90M', '$53.37M', '$132.38M', '$210.61M',
       '$162.81M', '$13.09M', '$19.50M', '$6.72M', '$422.78M', '$23.34M',
       '$32.57M', '$32.00M', '$1.02M', '$13.18M', '#45', '$5.32M',
       '$36.76M', '$11.99M', '$0.16M', '$0.02M', '$448.14M', '$335.45M',
       '$248.16M', '$0.71M', '$190.24M', '$51.97M', '$858.37M', '$85.16M',
       '$25.54M', '$44.02M', '$83.47M', '$678.82M', '#91', '$209.73M',
       '$5.02M', '$223.81M', '$11.29M', '$6.53M', '$0.28M', '$1.66M',
       '$11.49M', '#61', '$8.18M', '#62', '$0.29M', '#86', '$718.73M',
       '$120.54M', '$67.44M', '$130.10M', '$3.64M', '$56.95M', '$138.43M',
       '$75.60M', '$0.69M', '$34.40M', '$45.60M', '$6.21M', '$46.36M',
       '$2.83M', '$191.80M', '$33.23M', '#110', '$293.00M', '$309.13M',
       '$6.86M', '$415.00M', '$2.38M', '$44.82M', '$18.60M', '$1.59M',
       '$3.20M', '$8.82M', '$1.24M', '#113', '$13.28M', '$159.60M',
       '$0.03M', '$7.10M', '$0.06M', '$5.72M', '#136', '$1.22M',
       '$12.39M', '$0.33M', '$6.60M', '$2.00M', '$116.90M', '$402.45M',
       '$206.85M', '$74.28M', '$804.75M', '$28.26M', '$128.01M',
       '$40.22M', '$197.17M', '$125.62M', '$70.10M', '$13.78M', '$30.33M',
       '$85.08M', '$42.44M', '$70.51M', '$159.23M', '$25.00M', '$4.71M',
       '$293.51M', '$83.01M', '$170.74M', '$380.84M', '$101.16M',
       '$64.62M', '#157', '$37.63M', '$198.68M', '$5.51M', '#133',
       '$6.39M', '$1.23M', '$4.14M', '$12.10M', '#156', '$15.00M',
       '$47.70M', '$0.01M', '$0.10M', '#177', '#195', '#148', '$0.08M',
       '$5.01M', '$0.74M', '$3.11M', '$1.37M', '$0.93M', '#231', '$0.54M',
       '$5.45M', '$20.19M', '$0.98M', '#236', '$4.19M', '$0.07M',
       '$3.51M', '$1.63M', '$0.04M', '$48.98M', '$67.21M', '$232.91M',
       '$61.00M', '$52.29M', '$305.41M', '$167.77M', '$260.00M',
       '$154.06M', '$381.01M', '$59.10M', '$38.40M', '$32.87M',
       '$117.62M', '$164.62M', '$24.61M', '$17.50M', '$2.01M', '$5.54M',
       '$206.45M', '$169.71M', '$45.06M', '$95.86M', '$117.24M', '$2.08M',
       '$18.35M', '$54.51M', '$16.50M', '$26.95M', '$356.46M', '$138.53M',
       '$226.28M', '$289.92M', '$163.21M', '$14.68M', '$2.73M', '$13.66M',
       '$217.58M', '$3.76M', '$3.90M', '$56.67M', '$0.31M', '$5.82M',
       '$23.38M', '$148.10M', '$1.11M', '#187', '$100.49M', '$23.16M',
       '$2.18M', '$0.23M', '$0.45M', '#222', '$74.70M', '$16.22M',
       '$5.38M', '$44.91M', '$25.01M', '#232', '#247', '#206', '$9.60M',
       '$23.53M', '#210', '$0.92M', '$30.93M', '$23.65M', '$1.65M',
       '$10.62M', '#246', '#205', '$3.27M', '$4.04M', '$10.90M', '$5.22M',
       '#194', '$13.34M', '$4.97M', '$1.14M', '$0.17M', '$0.91M',
       '$1.09M', '$1.53M', '$1.03M', '$0.30M', '$2.80M', '$3.97M',
       '$1.04M', '$0.75M', '$2.60M', '$2.20M', '$4.94M', '$0.34M',
       '$0.14M', '$1.43M', '$0.73M', '$108.33M', '$92.05M', '$74.10M',
       '$106.95M', '$333.18M', '$151.10M', '$30.86M', '$1.48M', '$57.37M',
       '$228.43M', '$25.57M', '$341.27M', '$363.07M', '$12.54M',
       '$91.13M', '$623.28M', '$183.64M', '$261.44M', '$167.45M',
       '$184.21M', '$0.78M', '$217.35M', '$86.30M', '$66.21M', '$104.95M',
       '$70.91M', '$57.14M', '$178.80M', '$22.46M', '$63.90M', '$50.00M',
       '$66.26M', '$218.97M', '$70.41M', '$33.40M', '$51.74M', '$163.57M',
       '$0.60M', '$138.80M', '$141.32M', '$0.55M', '$27.55M', '$227.47M',
       '$39.20M', '$8.28M', '$102.31M', '$24.48M', '$29.13M', '$20.05M',
       '$0.05M', '$53.27M', '$0.65M', '$4.05M', '$80.50M', '$0.50M',
       '$61.65M', '$2.11M', '$3.49M', '$6.20M', '$22.24M', '$11.90M',
       '$52.77M', '$19.52M', '$9.45M', '$0.18M', '$2.24M', '$13.42M',
       '$1.51M', '$0.26M', '$0.86M', '$5.99M', '$2.09M', '$6.74M',
       '$0.68M', '$4.45M', '$4.08M', '$0.35M', '$1.74M', '$4.54M',
       '$0.20M', '$1.50M', '$0.90M', '$5.60M', '$1.78M', '$2.22M',
       '$1.08M', '$100.55M', '$659.33M', '$35.55M', '$57.23M', '$165.36M',
       '$32.53M', '$75.08M', '$100.21M', '$760.51M', '$249.36M', '$7.22M',
       '$12.28M', '$26.40M', '$257.73M', '$318.41M', '$216.43M',
       '$267.67M', '$17.74M', '$33.37M', '$315.06M', '$21.00M',
       '$435.11M', '$6.54M', '$13.54M', '$90.14M', '$7.76M', '$56.36M',
       '$115.65M', '$27.30M', '$132.42M', '$8.11M', '$4.74M', '$233.92M',
       '$7.63M', '$30.00M', '$24.38M', '$9.93M', '$124.99M', '$25.38M',
       '$245.85M', '$93.74M', '$14.50M', '$36.95M', '$2.12M', '$0.52M',
       '$128.08M', '$26.24M', '$30.18M', '$12.06M', '$4.50M', '$13.47M',
       '$111.72M', '$8.00M', '$70.60M', '$20.61M', '$3.24M', '$10.46M',
       '$2.63M', '$3.33M', '$44.67M', '$3.31M', '$4.18M', '$1.01M',
       '$53.71M', '$10.00M', '$1.32M', '$61.70M', '$22.28M', '$0.24M',
       '$9.36M', '$17.57M', '$4.02M', '$3.98M', '$1.79M', '$0.11M',
       '$0.37M', '$0.58M', '$1.19M', '$1.06M', '$2.65M', '$0.09M',
       '$5.57M', '$9.46M', '$0.41M', '$2.27M', '$369.35M', '$70.26M',
       '$72.86M', '$56.51M', '$38.41M', '$81.00M', '$176.04M', '$70.14M',
       '$168.46M', '$35.06M', '$36.47M', '$238.63M', '$108.10M',
       '$188.37M', '$18.10M', '$45.88M', '$532.18M', '$7.00M', '$96.96M',
       '$130.16M', '$54.12M', '$50.87M', '$15.32M', '$303.00M',
       '$233.63M', '$23.64M', '$4.00M', '$102.52M', '$145.00M', '$59.74M',
       '$936.66M', '$50.93M', '$169.61M', '$32.38M', '$17.27M', '$59.89M',
       '$32.42M', '$127.51M', '$121.66M', '$22.95M', '$304.36M',
       '$183.88M', '$57.50M', '$111.11M', '$76.27M', '$408.08M',
       '$258.37M', '$5.88M', '$61.28M', '$102.27M', '$0.13M', '$107.10M',
       '$45.51M', '$222.53M', '$118.50M', '$259.77M', '$44.79M',
       '$16.06M', '$119.52M', '$2.28M', '$28.97M', '$93.62M', '$161.20M',
       '$2.50M', '$32.02M', '$25.51M', '$10.10M', '$35.74M', '$5.20M',
       '$26.83M', '$52.10M', '$40.44M', '$34.54M', '$34.60M', '$5.10M',
       '$32.48M', '$4.42M', '$177.00M', '$5.89M', '$106.26M', '$31.80M',
       '$45.70M', '$14.74M', '$21.50M', '$72.00M', '$42.77M', '$37.82M',
       '$13.76M', '$9.44M', '$0.63M', '$34.70M', '$5.13M', '$40.08M',
       '$8.26M', '$5.62M', '$1.00M', '$0.44M', '$18.25M', '$56.70M',
       '$2.62M', '$4.23M', '$0.19M', '$21.85M', '$4.66M', '$2.92M',
       '$2.54M', '$1.67M', '$0.00M', '$61.50M', '$77.91M', '$33.80M',
       '$44.59M', '$290.01M', '$277.32M', '$183.42M', '$46.89M',
       '$76.63M', '$128.26M', '$75.29M', '$33.08M', '$220.16M',
       '$295.98M', '$7.06M', '$47.00M', '$32.39M', '$92.82M', '$56.82M',
       '$132.09M', '$108.64M', '$83.40M', '$285.76M', '$25.44M',
       '$48.32M', '$13.62M', '$75.51M', '$7.15M', '$47.21M', '$8.55M',
       '$200.82M', '$83.04M', '$9.17M', '$42.34M', '$56.12M', '$82.42M',
       '$141.34M', '$45.30M', '$41.91M', '$119.50M', '$54.23M',
       '$257.76M', '$43.18M', '$53.61M', '$1.75M', '$10.73M', '$156.45M',
       '$434.04M', '$146.41M', '$274.09M', '$136.03M', '$124.87M',
       '$78.91M', '$176.24M', '$148.48M', '$54.58M', '$173.84M',
       '$77.32M', '$189.42M', '$3.48M', '$35.90M', '$228.78M', '$12.34M',
       '$15.63M', '$104.45M', '$1.77M', '$98.47M', '$35.89M', '$4.91M',
       '$9.03M', '$2.81M', '$5.92M', '$29.80M', '$17.11M', '$5.21M',
       '$0.88M', '$51.08M', '$22.86M', '$3.15M', '$22.25M', '$48.17M',
       '$22.49M', '$75.33M', '$2.85M', '$22.00M', '$54.80M', '$5.08M',
       '$52.04M', '$43.98M', '$4.41M', '$76.41M', '$7.27M', '$54.00M',
       '$4.40M', '$51.68M', '$39.10M', '$10.55M', '$6.11M', '$48.02M',
       '$2.89M', '$18.59M', '$1.96M', '$17.65M', '$2.02M', '$21.75M',
       '$4.89M', '$16.78M', '$0.77M', '$1.34M', '$4.06M', '$17.55M',
       '$28.35M', '$10.63M', '$3.03M', '$2.40M', '$1.44M', '$15.54M',
       '$11.80M', '$27.28M', '$1.33M', '$317.58M', '$142.50M', '$15.07M',
       '$56.00M', '$121.46M', '$38.63M', '$107.51M', '$63.54M', '$10.82M',
       '$389.81M', '$380.26M', '$48.07M', '$53.42M', '$324.59M',
       '$75.61M', '$215.43M', '$96.52M', '$215.29M', '$41.00M', '$57.94M',
       '$27.01M', '$120.62M', '$208.55M', '$132.07M', '$255.96M',
       '$171.24M', '$36.40M', '$11.40M', '$52.93M', '$251.51M', '$40.46M',
       '$52.36M', '$184.93M', '$20.30M', '$65.21M', '$23.09M', '$12.47M',
       '$4.11M', '$3.19M', '$10.60M', '$141.84M', '$35.01M', '$100.01M',
       '$15.09M', '$26.02M', '$31.57M', '$17.61M', '$16.29M', '$40.31M',
       '$71.52M', '$30.50M', '$6.15M', '$13.06M', '$2.49M', '$37.71M',
       '$6.17M', '$0.87M', '$35.81M'], dtype=object)

In [23]:
# note: some movies did not have gross value and in its place had top 250 ranking starting with # 
# remove values starting with #
movie_df['Gross Revenue in millions (USD)'].mask(movie_df['Gross Revenue in millions (USD)'].str.contains('#'), '', inplace = True)

# remove leading $ and ending M and convert empty cells to null
movie_df['Gross Revenue in millions (USD)'] = movie_df['Gross Revenue in millions (USD)'].str.strip('$M').replace('', np.nan).astype('float')

# show first 5 rows

In [24]:
# inspect cleaned dataframe
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Rank                             1000 non-null   int64
 1   Movie Title                      1000 non-null   object
 2   Year of Release                  1000 non-null   int64
 3   Run Time (minutes)               1000 non-null   int64
 4   Rating                           985 non-null    string
 5   Star Rating                      1000 non-null   float64
 6   Metascore                        846 non-null    Int64
 7   Number of Votes                  1000 non-null   int64
 8   Gross Revenue in millions (USD)  807 non-null    float64
dtypes: Int64(1), float64(2), int64(4), object(1), string(1)
memory usage: 71.4+ KB

In [25]:
# view descriptive statistics
movie_df.describe().round(3)

,Rank,Year of Release,Run Time (minutes),Star Rating,Metascore,Number of Votes,Gross Revenue in millions (USD)
count,1000.000,1000.000,1000.000,1000.000,846.0,1000.000,807.000
mean,499.501,1991.653,124.155,7.969,79.037,321460.964,70.323
std,288.818,24.203,28.696,0.275,11.977,389994.431,115.474
min,1.000,1920.000,45.000,7.600,28.0,25471.000,0.000
25%,249.750,1975.000,103.000,7.800,71.25,62754.500,3.130
50%,499.500,1999.000,120.000,7.900,80.0,159258.500,23.160
75%,749.250,2011.000,138.250,8.100,88.0,445109.250,83.435
max,999.000,2023.000,321.000,9.300,100.0,2796722.000,936.660

### Step 4: Save dataframe as .csv file

In [26]:
# save file to csv, remove index column
# replace 'path' with location to save file
movie_df.to_csv('path/imdb_top1000.csv', index = False)